/****** PLACE YOUR CUSTOM STYLES HERE ******/

.foundry_modal{max-width: 1000px;}
.logo{ max-height: 50%; }

@media all and (max-width: 767px) {
.filters li {
	float:none;
	padding:0 12px;
	}
}

.btn-blue {
 border-color: #3075B0;
}

.btn-blue.btn-filled {
 background-color: #3075B0;
}

.btn-blue:hover {
  background: #3075B0;
  color: #fff;
}

input[type="submit"] { 
	border-color: #3075B0;
	background: #3075B0;
}

.bg-primary input[type="submit"] {
  color: #3075B0;
}

input[type="submit"].hollow {

  border-color: #3075B0;
  color: #3075B0;
}

input[type="submit"].hollow:hover {
  background-color: #3075B0;
}

.checkbox-option,
.radio-option {
  border-color: #3075B0;
}

.checkbox-option .inner,
.radio-option .inner {
  border-color: #3075B0;

}
.checkbox-option.checked .inner {
  background: #3075B0;
}

.radio-option.checked .inner {
  background: #3075B0;
}

/* Hide Google Retargeting iFrame */

iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}