/****** PLACE YOUR CUSTOM STYLES HERE ******/

.foundry_modal{max-width: 1000px;}
.logo{ max-height: 50%; }

@media all and (max-width: 767px) {
.filters li {
	float:none;
	padding:0 12px;
	}
}

.btn-blue {
 border-color: #3075B0;
}

.btn-blue.btn-filled {
 background-color: #3075B0;
}

.btn-blue:hover {
  background: #3075B0;
  color: #fff;
}

input[type="submit"] { 
	border-color: #3075B0;
	background: #3075B0;
}

.bg-primary input[type="submit"] {
  color: #3075B0;
}

input[type="submit"].hollow {

  border-color: #3075B0;
  color: #3075B0;
}

input[type="submit"].hollow:hover {
  background-color: #3075B0;
}

.checkbox-option,
.radio-option {
  border-color: #3075B0;
}

.checkbox-option .inner,
.radio-option .inner {
  border-color: #3075B0;

}
.checkbox-option.checked .inner {
  background: #3075B0;
}

.radio-option.checked .inner {
  background: #3075B0;
}

/* Hide Google Retargeting iFrame */

iframe[name='google_conversion_frame'] { 
    height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/* Testimonials */

#testimonial p:before {
  content: "\201C";
  line-height: 1;
  color: #d2d5db;
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 70px;
  font-size: 7rem;
}

#testimonial p:after {
    content: "\201D";
    line-height: 1;
    color: #d2d5db;
    position: absolute;
    top: 100px;
    right: -25px;
    font-size: 70px;
    font-size: 7rem;
}


.quote-author img {
  border-radius: 50%;
  max-width: 50%;
  padding: 5px;
}

.quote-author h6 {
  margin-bottom: 0px;
}

/* Blog */

.blog-item {
  margin-bottom: 40px;
  cursor: pointer;
}

.blog-item .blog-item-img {
  height: 230px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}

.blog-item .blog-item-img img {
  max-width: none;
  min-width: 100%;
  max-height: 360px;
  min-height: 300px;
}

.blog-item .blog-item-content {
  height: 230px;
  background-color: #fff;
  margin-left: -15px;
  padding: 10px 25px;
}

.blog-item .blog-item-content .title {
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-item .blog-item-content .body {
  font-size: 20px;
  font-weight: 400;
  height: 100px;
  overflow: hidden;
  line-height: 31px;
}

.blog-item .blog-item-content .controls {
  font-size: 15px;
  font-weight: bold;
}

.blog-item .blog-item-content .controls a.readmore {
  font-size: 13px;
  font-weight: bolder;
}

.blog-item .r-shadow {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(189,189,189,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(189,189,189,1);
  box-shadow: 1px 1px 3px 0px rgba(189,189,189,1);
}

.blog-item .l-shadow {
  -webkit-box-shadow: 1px 3px 3px -2px rgba(189,189,189,1);
  -moz-box-shadow: 1px 3px 3px -2px rgba(189,189,189,1);
  box-shadow: 1px 3px 3px -2px rgba(189,189,189,1);
}

@media (max-width: 767px) {
  .blog-item .blog-item-img {
    margin-right: 0px;
  }

  .blog-item .blog-item-content {
    margin-left: 0px;
  }
}

/* Blog Item */

#blog-item .body {
  line-height: 35px;
  font-size: 14pt;
}

#blog-item .body .title {
  font-weight: 300;
}

#blog-item .body blockquote {
  background-color: transparent !important;
  border-color: #337ab7 !important;
  padding: 0 20px;
}

#blogpost-navigation .disabled {
  color: #969696;
}

#blog-item .body ul {
  list-style: inherit !important;
}

#blog-item .body ul,
#blog-item .body ol {
  margin: 10px 0px 0 45px;
}

/* Blog Comments */

#blogpost-comments form {
  padding: 25px;

  -webkit-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
}

#blogpost-comments .comment {
  margin-left: 20px;
  padding: 10px 15px;
  margin-bottom: 40px;

  -webkit-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
}

#blogpost-comments .comment blockquote {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-family: "open sans" , "arial" , sans-serif;
  font-size: 10pt;
}

#blogpost-comments .comment .arrow {
  color: #f8f8f8;
  text-shadow: -3px 0px 4px rgba(189,189,189,1);
  margin-left: -35px;
  position: absolute;
  font-size: 25px;
}

#blogpost-comments .comment .author {
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #333;
}

#blogpost-comments .comment .date {
  color: #337ab7;
}

#HCB_comment_box img[alt="rss"] {
  display: none;
}

#HCB_comment_box > h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
}

#blogpost-comments .shadow {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
}
