/****** PLACE YOUR CUSTOM STYLES HERE ******/

.foundry_modal{max-width: 1000px;}
.logo{ max-height: 50%; }

@media all and (max-width: 767px) {
.filters li {
	float:none;
	padding:0 12px;
	}
}

.btn-blue {
 border-color: #3075B0;
}

.btn-blue.btn-filled {
 background-color: #3075B0;
}

.btn-blue:hover {
  background: #3075B0;
  color: #fff;
}

input[type="submit"] {
	border-color: #3075B0;
	background: #3075B0;
}

.bg-primary input[type="submit"] {
  color: #3075B0;
}

input[type="submit"].hollow {

  border-color: #3075B0;
  color: #3075B0;
}

input[type="submit"].hollow:hover {
  background-color: #3075B0;
}

.checkbox-option,
.radio-option {
  border-color: #3075B0;
}

.checkbox-option .inner,
.radio-option .inner {
  border-color: #3075B0;

}
.checkbox-option.checked .inner {
  background: #3075B0;
}

.radio-option.checked .inner {
  background: #3075B0;
}

/* Hide Google Retargeting iFrame */

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/* Testimonials */

#testimonial p:before {
  content: "\201C";
  line-height: 1;
  color: #d2d5db;
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 70px;
  font-size: 7rem;
}

#testimonial p:after {
    content: "\201D";
    line-height: 1;
    color: #d2d5db;
    position: absolute;
    top: 100px;
    right: -25px;
    font-size: 70px;
    font-size: 7rem;
}


.quote-author img {
  border-radius: 50%;
  max-width: 50%;
  padding: 5px;
}

.quote-author h6 {
  margin-bottom: 0px;
}

/* Blog */

#blog-items {
  min-height: 300px;
}

.blog-item {
  margin-bottom: 40px;
  cursor: pointer;
}

.blog-item .blog-item-img {
  height: 230px;
  margin-right: -15px;
  position: relative;
  overflow: hidden;
}

.blog-item .blog-item-img img {
  max-width: none;
  min-width: 100%;
  max-height: 360px;
  min-height: 300px;
}

.blog-item .blog-item-content {
  height: 230px;
  background-color: #fff;
  margin-left: -15px;
  padding: 10px 25px;
}

.blog-item .blog-item-content .title {
  font-weight: 500;
  margin-bottom: 15px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.blog-item .blog-item-content .body {
  font-size: 20px;
  font-weight: 400;
  height: 100px;
  overflow: hidden;
  line-height: 31px;
}

.blog-item .blog-item-content .controls {
  font-size: 15px;
  font-weight: bold;
}

.blog-item .blog-item-content .controls a.readmore {
  font-size: 13px;
  font-weight: bolder;
}

.blog-item .r-shadow {
  -webkit-box-shadow: 1px 1px 3px 0px rgba(189,189,189,1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(189,189,189,1);
  box-shadow: 1px 1px 3px 0px rgba(189,189,189,1);
}

.blog-item .l-shadow {
  -webkit-box-shadow: 1px 3px 3px -2px rgba(189,189,189,1);
  -moz-box-shadow: 1px 3px 3px -2px rgba(189,189,189,1);
  box-shadow: 1px 3px 3px -2px rgba(189,189,189,1);
}

@media (max-width: 767px) {
  .blog-item .blog-item-img {
    margin-right: 0px;
  }

  .blog-item .blog-item-content {
    margin-left: 0px;
  }
}

/* Blog Item */

#blog-item .body {
  line-height: 35px;
  font-size: 14pt;
}

#blog-item .body .title {
  font-weight: 300;
}

#blog-item .body blockquote {
  background-color: transparent !important;
  border-color: #337ab7 !important;
  padding: 0 20px;
}

#blogpost-navigation .disabled {
  color: #969696;
}

#blog-item .body ul {
  list-style: inherit !important;
}

#blog-item .body ul,
#blog-item .body ol {
  margin: 10px 0px 0 45px;
}

/* Blog Comments */

#blogpost-comments form {
  padding: 25px;

  -webkit-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
}

#blogpost-comments .comment {
  margin-left: 20px;
  padding: 10px 15px;
  margin-bottom: 40px;

  -webkit-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
}

#blogpost-comments .comment blockquote {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-family: "open sans" , "arial" , sans-serif;
  font-size: 10pt;
}

#blogpost-comments .comment .arrow {
  color: #f8f8f8;
  text-shadow: -3px 0px 4px rgba(189,189,189,1);
  margin-left: -35px;
  position: absolute;
  font-size: 25px;
}

#blogpost-comments .comment .author {
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #333;
}

#blogpost-comments .comment .date {
  color: #337ab7;
}

#HCB_comment_box img[alt="rss"] {
  display: none;
}

#HCB_comment_box > h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
}

#blogpost-comments .shadow {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
  box-shadow: 0px 0px 9px 0px rgba(189,189,189,1);
}

/* Loader */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
/* end Loader */

.font18 {
  font-size: 18px !important;
}

.wwd-boxed {
  color: #4a4a4a;
}

.wwd-boxed .title {
  font-size: 16px;
  margin-top: 22px;
  font-family: Roboto, Helvetica, sans-serif;
}

.wwd-boxed .description {
  font-size: 14px;
  line-height: 22px;
  padding: 6px 20px 0px;
  height: 50px;
  overflow: hidden;
}

.wwd-boxed .btn {
  font-size: 13px;
}

.btn-lg.btn-3d {
  border-bottom: 5px solid #2e699a;
  height: 54px;
}

.btn.btn-3d:hover {
  background-color: #2e699a;
}

.wwd-icon {
  background-image: url(../img/wwd-sprite.png);
  background-size: 1271px;
  height: 113px;
  width: 113px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.mobile-apps-icon {
  background-position: -173px -76px;
}

.tablet-apps-icon {
  background-position: -557px -76px;
}

.epos-integration-icon {
  background-position: -949px -76px;
}

.house-systems-icon {
  background-position: -173px -426px;
}

.websites-icon {
  background-position: -561px -427px;
}

.strategy-consulting-icon {
  background-position: -949px -426px;
}

.subnav-container {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  z-index: 999;
  top: 55px;
  left: 0;
  right: 0;
}

.subnav-container.fixed {
  position: fixed;
}

.subnav-container nav {
  display: inline-block;
  background-color: #313131;
}

.subnav-container ul li {
  display: inline-block;
}

.subnav-container ul li a {
  padding: 15px 30px 12px;
  display: block;
  font-weight: normal;
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  border-bottom: 4px solid #313131;
}

.subnav-container ul li a:hover,
.subnav-container ul li a.active  {
  opacity: 1;
  background-color: #292929;
  border-color: #4cb277;
}

.subnav-container ul li a.active {
  font-weight: bold;
}

@media (min-width: 992px) {
  .menu > li:hover > ul {
    visibility: hidden;
  }
}

.subnav-container.toggle-subnav {
  overflow: hidden;
  -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.subnav-container.toggle-subnav.visible {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0,0,0,0);
}

nav.bg-dark .nav-utility,
nav.bg-dark .nav-bar {
  border-bottom: 0;
}

.about-us .background-image-holder {
  z-index: -9;
}

.about-us .v-align-transform {
  top: 30%;
}

.about-us h1.title {
  font-size: 36px;
}

.cover-submenu {
  margin-top: -37px;
  z-index: 9;
  position: relative;
}

.cover-submenu ul {
  margin: 0;
  padding: 0;
}

.cover-submenu ul li {
  display: inline-block;
  padding: 0 3% 10px;
  opacity: .75;
  border-bottom: 10px solid transparent;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.cover-submenu ul li a {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #fff;
}

.cover-submenu ul li:hover {
  opacity: 1;
  border-bottom-color: #4cb277;
}

.face-mask {
  width: 198.6px;
  height: 197.6px;
  margin: auto;
}

.face-bitmap {
  width: 170.2px;
  height: 195.6px;
  object-fit: contain;
}

.barpass-mask {
  width: 227px;
  height: 227px;
  background-color: #231f20;
}

.barpass-bitmap {
  width: 207px;
  height: 207px;
  margin: 10px;
  object-fit: contain;
}

.pl0 {
  padding-left: 0px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl56 {
  padding-right: 56px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr8 {
  padding-right: 8px !important;
}

section.journey h4 {
  font-weight: 500;
  color: #4a4a4a;
}

section.journey .dates {
  font-family: Lato, "open sans" , "arial" , sans-serif;
  color: #9b9b9b;
}

#restaurant h3 {
  color: #4a4a4a;
}

#restaurant .video {
  margin: 0 0 -8px -2px;
}

@media only screen and (max-width: 500px) {
  #restaurant .video iframe {
    height: 400px;
  }
}

#restaurant .images div {
  margin: 0px -1px 0 0;
}

#favourite .boxed {
  border: solid 4px #efefef;
  margin-left: -5px;
  margin-right: -5px;
  width: 100%;
}

#favourite .boxed img {
  margin: -4px 0 -4px -19px;
  max-width: 220px;
  max-height: : 220px;
  position: relative;
  z-index: 9;
}

#favourite .boxed .img-bg {
  /*width: 220px;
  height: 220px;
  position: absolute;
  top: -4px;
  left: -4px;
  background-color: #efefef;*/
  background-size: cover;
  width: 220px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -4px;
}

#favourite .boxed .right {
  margin-left: -10px;
  height: 212px;
  vertical-align: top;
}

#favourite .boxed .lead {
  line-height: 24px;
  overflow: hidden;
  max-height: 124px;
}

#favourite h4 {
  font-size: 22px;
  font-weight: 500;
  color: #4a4a4a;
  text-transform: uppercase;
  padding: 15px 0 0 0;
  margin-bottom: 8px;
}

#favourite .read-more {
  font-family: Lato;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#favourite .read-more-b {
  color: #9b9b9b;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#favourite .read-more-b a {
  font-family: Lato, "open sans" , "arial" , sans-serif;
}

.main-container-2 {
  color: #4a4a4a;
  line-height: 22px;
}

.main-container-2 h3 {
  font-weight: 400;
}

.main-container-2 .v-align-transform h6.uppercase,
.main-container-2 .v-align-transform .description {
  font-size: 14px;
}

.oval {
  width: 34px;
  height: 34px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
}

.till-system {
  width: 596.2px;
  height: 570px;
  background-color: #9b9b9b;
  border: solid 1px #979797;
}

.till-system h3 {
  line-height: 570px;
}

.integ-logo {
  line-height: 100.6px;
}

.main-callout {
  max-width: 334.3px;
  margin: 50px auto;
}

.main-callout h3 {
  text-transform: uppercase;
}

.form-email-2 input[type="text"],
.form-email-2 select,
.form-email-2 textarea {
  margin-bottom: 8px;
  -moz-box-shadow: 3px 3px 5px -2px #e4e4e4;
  -webkit-box-shadow: 3px 3px 5px -2px #e4e4e4;
  box-shadow: 3px 3px 5px -2px #e4e4e4;
}

.main-container-2 .notes {
  height: 108px;
}

.main-container-2 input[type="submit"] {
  background: #47b475;
  border: 2px solid #47b475;
  width: inherit;
}

.statement {
  background-color: #4a4a4a;
  color: #fff;
}

.statement h3 {
  color: #fff;
}

.cras p {
  margin-left: auto;
  margin-right: auto;
}

.proyekto {
  max-width: 365px;
  margin: 50px auto;
  padding: 15px;
}

@media (min-width: 1200px) {
  .clients .container {
    width: 1200px;
  }
}

.submenu-bar {
  visibility: hidden;
  overflow: hidden;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 4px 4px -2px #ccc;
  -moz-box-shadow: 0 4px 4px -2px #ccc;
  box-shadow: 0 4px 4px -2px #ccc;
}

nav.fixed.scrolled .submenu-bar {
  visibility: visible;
}

.submenu-bar ul li {
  display: inline-block;
}

.submenu-bar ul li a {
  padding: 15px 15px 7px;
  margin: 0 45px;
  display: block;
  font-weight: 600;
  color: #4a4a4a;
  font-size: 16px;
  border-bottom: 6px solid transparent;
}

.submenu-bar ul li a.active {
  border-bottom: 6px solid #47b375;
  font-weight: bold;
}

@media (max-width: 767px) {
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .pt-xs-0 {
    padding-top: 0px;
  }
  .pt-xs-80 {
    padding-top: 80px;
  }
  #restaurant .left {
    padding: 80px 30px 0;
  }
  #favourite .boxed .left {
    background-color: #efefef;
    text-align: center;
    padding-bottom: 4px;
  }
  #favourite .boxed .right {
    height: 175px;
    padding-left: 20px;
    padding-right: 10px !important;
  }
  #favourite .read-more {
    right: 10px;
  }
  #favourite .read-more-b {
    right: 10px;
  }
  #favourite .boxed .img-bg {
    width: inherit;
  }
  .main-container-2 .v-align-transform h6.uppercase,
  .main-container-2 .v-align-transform .description {
    font-size: 12px;
  }
  .wwd-boxed .description {
    height: inherit;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .cover-submenu {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .proyekto {
    max-width: 615px;
  }
  #favourite .row.boxed-container .col-md-6 {
    width: 100%;
  }
  #favourite .row.boxed-container .col-md-5 {
    width: 33.33333333%;
  }
  #favourite .row.boxed-container .col-md-7 {
    width: 66.66666666%;
  }
  #restaurant .left {
    padding: 80px 45px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .landing h1.title {
    font-size: 50px;
    line-height: 64px;
  }
  .table-row {
    display: table;
  }
  .table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 1160px) {
  .subnav-container ul li a {
    font-size: 12px;
    padding: 10px 25px 12px;
  }
}

hr.green-line {
  width: 50px;
  border-top: solid 4px #4caf50;
  margin-left: auto;
  margin-right: auto;
}

.raleway {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
